<!--
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

</body>
</html>-->
<md-dialog aria-label="Mango (Fruit)" style="border: none; width: 30%">
    <md-content class="sticky-container">
        <!--<md-subheader class="md-sticky-no-effect">Mango (Fruit)</md-subheader>-->
        <div class="dialog-content">
            {{description}}
            <md-input-container>
                <label>Description</label>
                <input type="text" ng-model="description"/>

            </md-input-container>
        </div>
    </md-content>

    <div class="md-actions" layout="row">
        <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
            More on Wikipedia
        </md-button>
        <span flex></span>
        <md-button ng-click="answer('useful')" class="md-primary">
            Add
        </md-button>
        <md-button ng-click="answer('not useful')">
            Not Useful
        </md-button>
    </div>
</md-dialog>