
body{

    background: #161415 url('crysis.jpg') no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;

}
#container{
    /*background: -webkit-gradient(linear, left top, left bottom, from(#919191), to(#616161));*/
    /*background: -webkit-linear-gradient(top, #919191, #616161);*/
    background-size: cover !important;
    text-align: center;
    overflow: hidden;

}
#logo-RB{
    position: absolute;
    left: 10px;
    top: 200px;
    bottom: auto;
    border: transparent;
    /*border-color: #aa3535;*/
}
.hide{
    display: none;
}
.empty{
    margin: auto;
    /*width: 100%;*/
}
#form-container{
    margin: auto;
    position: absolute;
    top: 100px;
    /*width: 1320px;*/
    /*bottom: 0;*/
    left: 0;right: 0;
    vertical-align: middle;
}
#box1{
    /*display: block;*/

    width: 300px;
    height: 300px;
    border: solid;
    vertical-align: middle;

    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
#player1 #player2 #startButton{
    margin: 0;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
#box{
    width: 550px;
    height: 550px;
    border: solid;
    padding: 20px;
    border-radius: 19px 64px 19px 64px;
    border-color: #676767;
    border-width: 17px;

    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: no-repeat;

    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#center{
    /*border: solid;*/
}
.button{
    margin: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: 15px;
    border-radius: 10px 40px 10px 40px;
    width: 165px;
    height: 165px;
    border: solid 4px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 8em;
    text-align: center;
    /*vertical-align: middle;*/

    -webkit-user-select: none;  /*Chrome/Safari */
    -moz-user-select: none;  /*Firefox*/
    -ms-user-select: none;  /*IE10+*/

    background: rgba(226,226,226,1);
    /* Old Browsers */background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    /* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
    /* Chrome, Safari4+ */background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    /* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    /* IE 10+ */background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
    /* IE6-9 */
}
.button:hover{
    background: rgba(226,226,226,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: radial-gradient(ellipse at center, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}
.right{
    float: right;
}
.left{
    float: left;
}
.clear{
    clear: both;
}