<div layout="row" layout-wrap>
    <div flex="33">&nbsp;</div>
    <!--{{login.name}}-->
    <div flex="33">
        <md-card class="md-whiteframe-z5" style="border-top-right-radius: 20px; border-bottom-left-radius: 20px;">
            <md-toolbar style="border-top-right-radius: 20px;">
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Login</span>
                    </h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-content layout-padding layout="column" layout-sm="row" style="">
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="user.title" ng-disabled="true">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="user.email"  ng-disabled="true">
                </md-input-container>
                <div layout="row" layout-align="center center">
                    <span>OR</span>
                </div>
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary"  ng-click="login.facebookLogin()" >Facebook</md-button>
                </div>
            </md-content>


            <div class="md-actions" layout="row" layout-align="end center">
                <md-button class="md-raised md-primary">SignUp</md-button>
            </div>
        </md-card>
    </div>
    <div flex="33">&nbsp;</div>

</div>
