
<md-dialog aria-label="Mango (Fruit)" style="border: none; width: 30%">
    <md-toolbar style="">
        <h2 class="md-toolbar-tools"> Login With ... </h2>
    </md-toolbar>

    <md-content class="sticky-container">
        <div class="dialog-content" layout="row" layout-align="space-around center" style="margin-top: 15px">
            <md-button class="md-raised md-primary" ng-disabled="false" ng-click="answer('facebook')">Facebook</md-button>
            <md-button class="md-raised md-warn" ng-click="answer('google')">Google</md-button>
        </div>
    </md-content>
    <!--/*************************************************************************************************************/-->
    <div class="md-actions" layout="row">

        <span flex></span>

        <md-button ng-click="">

        </md-button>
    </div>
</md-dialog>