{{8+8}} | {{ new.name}}
<md-card>
    <md-toolbar md-scroll-shrink class="md-accent">
        <div class="md-toolbar-tools">
            <h3>
                <span>All requested Dua</span>
            </h3>
        </div>
    </md-toolbar>

    <md-card-content>
        <md-input-container flex>
            <label>Enter Here</label>
            <input>
        </md-input-container>


        <div layout="row">

            <md-checkbox>
                <span>Public</span>
            </md-checkbox>

            <md-checkbox>
                <span>Private</span>
            </md-checkbox>

            <md-button class="md-raised">Submit</md-button>
        </div>
    </md-card-content>
</md-card>